<header>
  <mat-toolbar color="primary">
    <span class="site-name">shopping web app</span>
    <span class="mail" *ngIf="signinService.currentUser">{{ (signinService.currentUser)?.email }}</span><span class="button" (click)="logout()">log out</span>
    
  </mat-toolbar>
</header>
<nav>
  <div class="col main-menu">
    <a routerLink='/products'><button class="btn" mat-raised-button color="primary">Products</button></a> 
    <button 
      class="btn" 
      mat-raised-button 
      color="primary">Favorite</button>
    <button class="btn" mat-raised-button color="primary">Cart</button>
    <ng-template [ngIf]="!signinService.isAuthenticated()" ><a 
    routerLink='/signup' ><button 
      class="btn" 
      mat-raised-button 
      color="primary">Sign up</button></a>
    <button  
      class="btn" 
      mat-raised-button 
      color="primary" 
      routerLink="/signin">Sign in</button></ng-template>
    <button 
      *ngIf="signinService.isAuthenticated()" 
      class="btn" 
      mat-raised-button 
      color="primary" 
      routerLink="/signin">Admin</button>
  </div>
  <hr>
</nav>


<footer class="footer py-3">
  <div class="container">
    <hr>
    <p>2019</p>
  </div>
</footer>





<router-outlet></router-outlet>
