*{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.first-information{
    max-width: 100%;
    padding: 0;
    background-color: #3f51b5;
    color: #fff;
}
.site-name{
    text-transform: uppercase;
    font-size: 30px;
    width: 50%;
    display: inline-block;
    margin-right: -3px;
}
.mail{
    width: 50%;
    display: inline-block;
    text-align: right;
}
.button{
    padding-left: 4%;
    color: #fff;
    text-transform: uppercase;
}

h1{
    padding-top: 22px;
    margin-left: 10px;
    display: inline-block;
    text-transform: uppercase;   
}
.log-out{
    color: #fff;
    margin-left: 6rem;
    border: solid #000 2px;
}
nav{
    margin-top: 2rem;
}
.main-menu{
    text-align: center;
}
.btn{
    margin-right: 5rem;
    width: 9rem;
}
hr {
    border: none;
    color: grey;
    background-color: grey;
    height: 2px;
    width: 65%;
    opacity: 0.6;
    text-align: center;
   }
   .filler{
       padding-left: 75%;
       color: #fff;
   }
   footer{
       position: fixed;
       bottom: 0;
       width: 100%;
    }
    p{
        text-align: center;
    }




