*{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.site-name{
    text-transform: uppercase;
    font-size: 30px;
}
.filler{
    margin-right: 70%;
}
h1{
    padding-top: 22px;
    margin-left: 10px;
    display: inline-block;
    text-transform: uppercase;   
}
nav{
    margin-top: 2rem;
}
.main-menu{
    text-align: center;
}
.btn{
    margin-right: 5rem;
    width: 9rem;
}
hr {
    border: none;
    color: grey;
    background-color: grey;
    height: 2px;
    width: 65%;
    opacity: 0.6;
    text-align: center;
   }
   .filler{
       padding-left: 75%;
       color: #fff;
   }
   footer{
       position: fixed;
       bottom: 0;
       width: 100%;
    }
    p{
        text-align: center;
    }




