<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container first-information">
      <div class="row">
        <div class="col">
          <h1>Shopping web app</h1>
          <a class="link" href="https://mail.google.com/mail">user@gmail.com</a>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <div class="col main-menu">
     <a routerLink='/products'><button class="btn" mat-raised-button color="primary">Products</button></a> 
      <button class="btn" mat-raised-button color="primary">Favorite</button>
      <button class="btn" mat-raised-button color="primary">Admin</button>
      <button class="btn" mat-raised-button color="primary">Home</button>
      <a routerLink='/signin'><button class="btn" mat-raised-button color="primary">Sign in</button></a>
    </div>
    <hr>
  </nav>
  
  <main>
  
  
  </main>
  
  <footer>
  
  
  
  </footer>
</body>
</html>





<router-outlet></router-outlet>
